<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="indexpass.css" />
    <title>VEGA</title>
</head>
<body>
    <header>
        <a href="http://192.168.11.201/registrace" onclick="redirectToRegistration(event)">
            <button class="login-button">Registrace</button>
        </a>
    </header>
    
    <div class="center-container">
        <form id="loginForm" method="POST">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="username">
            <div class="form-group">
                <label for="password" class="show-password-label">Heslo:</label>
                <div class="password-input-container">
                    <input type="password" placeholder="password" id="password" name="password" required maxlength="30">
                </div>
                <div class="error-message" id="error-message"></div>
                <input type="checkbox" id="showPassword" class="show-password-checkbox" onclick="togglePasswordVisibility('password')">
            </div>
            
            <div class="button-container">
                <button type="button" class="btn" onclick="submitLoginForm()">Přihlásit se</button>
            </div>
            
            <div class="remember-me">
                <input type="checkbox" id="remember" name="remember">
                <label for="remember">Remember Me</label>
            </div>
        </form>
    </div>

    <script>
        function redirectToRegistration(event) {
            event.preventDefault();
            window.location.href = "http://192.168.11.201/registrace";
        }
    
        function togglePasswordVisibility(passwordFieldId) {
            var passwordField = document.getElementById(passwordFieldId);
            var showPasswordCheckbox = document.getElementById("showPassword");
    
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
    
            showPasswordCheckbox.checked = (passwordField.type === "text");
        }
    
        function submitLoginForm() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            var errorMessageContainer = document.getElementById("error-message");
    
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            window.location.href = "/public";
                        } else {
                            errorMessageContainer.innerText = response.message;
                            errorMessageContainer.style.color = 'red';
                        }
                    } else {
                        
                    }
                }
            };
    
            xhr.send("username=" + encodeURIComponent(username) + "&password=" + encodeURIComponent(password));
        }
    </script>
</body>
</html>